<form class="col s12 container" id="create-location-form">
  <p class="create-location-alert"></p>
  <div class="row">
    <div class="input-field col s12">
      <input type="text" id="name" class="validate" name="location[name]">
      <label for="name">Location Name</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input type="text" id="plot" class="validate" name="location[plot]">
      <label for="plot">Location Plot</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input type="text" id="outcome" class="validate" name="location[outcome]">
      <label for="outcome">Location Outcome</label>
    </div>
  </div>
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i></button>
  </form>
