<form class="col s12 container" id="change-password-form">
  <p class="user-alert"></p>
  <div class="row">
    <div class="input-field col s12">
      <input type="password" id="old-password" class="validate" name="passwords[old]">
      <label for="old-password">Old Password</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input type="password" id="new-pasword" class="validate" name="passwords[new]">
      <label for="new-pasword">New Password</label>
    </div>
  </div>
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i></button>
  </form>
