  <li><a id="change-password-btn">change password</a></li>
  <li><a id="sign-out-button">sign out</a></li>
  <li><a id="add-location-button">add location</a></li>
  <li><a id="get-bokbulboks-button">See risks and rewards</a></li>
  <li><a id="add-bokbulbok-button">Add risks or rewards</a></li>
