<p class="landing-alerts"></p>
<form class="col s12" id="sign-up-form">
  <div class="row">
    <div class="input-field col s12">
      <input name="credentials[email]" type="email" id="sign-up-email" class="validate" placeholder="Email">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input type="password" id="sign-up-password" class="validate" name="credentials[password]" placeholder="Pasword">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input type="password" id="password-confirmation" class="validate" name="credentials[password_confirmation]" placeholder="Password Confirmation">
    </div>
  </div>
  <button class="btn waves-effect waves-light" type="submit" name="action" id="sign-up-button">Sign Up
    <i class="material-icons right">send</i></button>
</form>
